#footer {
    color: #37423b;
    font-size: 14px;
    background: #D8D8D8;
    font-family: 'Overpass',sans-serif;
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #D8D8D8;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: var(--clr-primary);
  }
  
  /* #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  } */
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  

  
  #footer .footer-top .footer-links ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: var(--clr-primary);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: var(--clr-primary);
  }
  
  #footer .footer-newsletter {
    font-size: 15px;
  }
  
  #footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  #footer h3 {
      font-weight: bold;
  }
  
  #footer .footer-newsletter form {
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 0 50px 50px 0;
    text-align: left;
    border: 1px solid #e0e5e2;
  }
  
  #footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: #D8D8D8;
    color: var(--clr-primary);
    transition: 0.3s;
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--clr-primary);
  }
  
  #footer .footer-newsletter form input[type="submit"]:hover {
    background: var(--clr-primary);
    color: #fff;
  }
  
  #footer form {
    margin-bottom: 2em;
  }

  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
  }
  
  #footer .credits a {
    color: var(--clr-primary);
    transition: 0.3s;
  }
  
  #footer .credits a:hover {
    color: var(--clr-primary);
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: var(--clr-primary);
    color: var(--clr-primary);
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: var(--clr-primary);
    color: #fff;
    text-decoration: none;
  }
  
  #footer .container {
      color: black;
  }

  #footer a {
      text-decoration: none;
  }

  .footContainer {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 0 2em 0 8em;
  }

  .ga-naar-2 {
      padding-bottom: 38px;
  }

  @media (max-width: 768px) {
    .ga-naar-2 {
        padding-bottom: 0;
    }
  }
@media (max-width: 1200px) {
    .footContainer {
        padding: 0 2em;
    }
  }

  .icons {
      font-size:1.2rem;
      color: var(--clr-primary);
  }

  .footer-newsletter p {
      font-weight: 500;
  }

  .copyright {
      display: flex;
      justify-content: center;
      
  }

  .copyright p {
      font-size: 16px;
  }
