<h3 >MLS Journey</h3>

<p>We especially love the humble references to how Moz received funding, how it switched its brand positioning — and most importantly, how it switched back to its original model. This speaks volumes to the value honesty and humbleness can play to your customers. Don't be afraid to talk about your ups and downs; your customers will trust what you say that much more.</p>

<p>Why this About Us page rocks:

    Nike clearly knows its audience and makes their mission obvious to them as soon as they land on the About Us page. There's no question that the visitor is in the right place and understands exactly what Nike has set out to do.</p>

<mat-grid-list cols="3" ><!--rowHeight="1:1"-->
    <mat-grid-tile >
      <mat-card class="my-card">
            <mat-card-header>
               
                <mat-card-title>Customers</mat-card-title>
                <mat-card-subtitle>
                    30+
                </mat-card-subtitle>
            </mat-card-header>
            <!-- <img style="width: 150px; height: 100px;"  src={{i.imageUrl}} class="tile-image" alt="beer"> -->
            <mat-card-content>
                
            </mat-card-content>
      </mat-card> 
    </mat-grid-tile>

    <mat-grid-tile >
        <mat-card class="my-card">
              <mat-card-header>
                 
                  <mat-card-title>Products</mat-card-title>
                  <mat-card-subtitle>
                    50+
                  </mat-card-subtitle>
              </mat-card-header>
              <!-- <img style="width: 150px; height: 100px;"  src={{i.imageUrl}} class="tile-image" alt="beer"> -->
              <mat-card-content>
                  
              </mat-card-content>
        </mat-card> 
      </mat-grid-tile>

      <mat-grid-tile >
        <mat-card class="my-card">
              <mat-card-header>
                 
                  <mat-card-title>Cities</mat-card-title>
                  <mat-card-subtitle>
                    100+
                  </mat-card-subtitle>
              </mat-card-header>
              <!-- <img style="width: 150px; height: 100px;"  src={{i.imageUrl}} class="tile-image" alt="beer"> -->
              <mat-card-content>
                  
              </mat-card-content>
        </mat-card> 
      </mat-grid-tile>
  </mat-grid-list> 